.crypto-card {
  border: 1px solid #0b0101;
  padding: 1px;
  margin-bottom: 1px;
  background-color: rgb(57, 6, 6);
  color: white;
  padding-block: 1px 1px 1px 1px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1px 1px 1px 1px;
}

.middle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1px 1px 1px 1px;
}

.left {
  width: 50%;
  padding: 4px;
  text-align: start;
  padding-block: 1px 1px 1px 1px;
}

.right {
  width: 45%;
  padding: 1px;
  text-align: end;
  padding-block: 1px 1px 1px 1px;
}

.price {
  font-weight: 800;
  font-size: xx-large;
  text-align: start;
  padding-block: 1px 1px 1px 1px;
}

.priceHL {
  font-weight: 300;
  font-size: medium;
  text-align: end;
  padding: 0px;
  padding-block: 1px 1px 1px 1px;
}

canvas {
  width: 100%;
  padding-block: 1px 1px 1px 1px;
}
